<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.binbinxiu.aihushop.mapper.OrderItemsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.binbinxiu.aihushop.entity.OrderItems">
        <id column="id" property="id" />
        <result column="order_id" property="orderId" />
        <result column="item_id" property="itemId" />
        <result column="item_img" property="itemImg" />
        <result column="item_name" property="itemName" />
        <result column="item_spec_id" property="itemSpecId" />
        <result column="item_spec_name" property="itemSpecName" />
        <result column="price" property="price" />
        <result column="buy_counts" property="buyCounts" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_id, item_id, item_img, item_name, item_spec_id, item_spec_name, price, buy_counts
    </sql>

</mapper>
